REACT_APP_FIREBASE_API_KEY=AIzaSyC7f1xf4Rx1fvwn9_1luGK4m1aQonFiibE
REACT_APP_FIREBASE_AUTH_DOMAIN=goldenaige.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=goldenaige
REACT_APP_FIREBASE_STORAGE_BUCKET=goldenaige.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=241195884047
REACT_APP_FIREBASE_APP_ID=1:241195884047:web:992055347cd00f344d4d7a
REACT_APP_FIREBASE_MEASUREMENT_ID=G-51VL3BMR5H
