rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /courses/{courseId} {
      allow read: if true;
      allow write: if false;
      
      match /modules/{moduleId} {
        allow read: if true;
        allow write: if false;
        
        match /lessons/{lessonId} {
          allow read: if true;
          allow write: if false;
        }
      }
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /progress/{courseId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /userProgress/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      match /{doc=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
