name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  checks: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      REACT_APP_FIREBASE_API_KEY: AIzaSyDbkztazekIxE8KUB2MydZXLVW7p52CUOQ
      REACT_APP_FIREBASE_AUTH_DOMAIN: ai-integra-course-v2.firebaseapp.com
      REACT_APP_FIREBASE_PROJECT_ID: ai-integra-course-v2
      REACT_APP_FIREBASE_STORAGE_BUCKET: ai-integra-course-v2.firebasestorage.app
      REACT_APP_FIREBASE_MESSAGING_SENDER_ID: "313115890482"
      REACT_APP_FIREBASE_APP_ID: 1:313115890482:web:cca32371be86c0863cbd2b
      REACT_APP_FIREBASE_MEASUREMENT_ID: G-15SDDF1S5S

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'npm'

      - name: Use npm 11
        run: npm install -g npm@11

      - name: Install dependencies
        run: npm ci

      - name: Build for production
        run: npm run build

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.GCP_SA_KEY }}'
          channelId: live
          projectId: ai-integra-course-v2
